/*----extra resetting-----*/
h1, h2, h3, p, ul {
    list-style: none;
    background-color: transparent;
}
/*----theme----------------*/
h1 {
    font-family:â€Intel Clear, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: normal;
    font-size: 32px;
    padding-top: 24px;
    padding-bottom: 5px;
    margin: 6px 24px;
    padding-left: 320px
}
p {
    font-family:"Intel Clear", "Seoge UI", "Arial", sans-serif;
    color: #9dd7f3;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
    margin: 6px 24px;
}
i {
    font-family:"Intel Clear", "Seoge UI", "Arial", sans-serif;
    color: #a0cd47;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 6px 24px;
}
h2 {
    font-family:"Intel Clear", "Seoge UI", "Arial", sans-serif;
    color: #003C71;
    text-align: left;
    font-weight: 200;
    margin: 6px 12px;
    font-size: 24px;
}

h3 {
    font-family:"Intel Clear", "Seoge UI", "Arial", sans-serif;
    color: #0071C5;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    margin: 10px 10px;
}
a {
    font-family:"Intel Clear", "Seoge UI", "Arial", sans-serif;
    color: #ffffff;
}
body {
    background-color: #ffffff;
}
/*----styles---*/
img {
    position: absolute;
    margin: 20px;
    height: 100px;
}
body > section > header {
    background-image: url("banner_01.jpg");
    background-position: left;
    vertical-align: top;
    text-align: left;
    min-height: 300px;
    padding-left: 0px;
}
body > section > developers {
    background-image: url("background2.jpg");
    background-position: center;
    vertical-align: top;
    text-align: center;
    min-height: 320px;
    padding-left: 0px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 90%;
}
div > hr {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(85, 102, 136, 1.0), rgba(85, 102, 136, 0.3), rgba(85, 102, 136, 0.1));
    background-image:    -moz-linear-gradient(left, rgba(85, 102, 136, 1.0), rgba(85, 102, 136, 0.3), rgba(85, 102, 136, 0.1));
    background-image:     -ms-linear-gradient(left, rgba(85, 102, 136, 1.0), rgba(85, 102, 136, 0.3), rgba(85, 102, 136, 0.1));
    background-image:      -o-linear-gradient(left, rgba(85, 102, 136, 1.0), rgba(85, 102, 136, 0.3), rgba(85, 102, 136, 0.1));
    margin: 25px;
}

header > p {
    max-width: 800px;
    /* margin: 48px; */
    padding-left: 320px
    /* margin: auto; */
}

header > i {
    max-width: 800px;
    /* margin: 48px; */
    padding-left: 320px
    /* margin: auto; */
}

ul {
    display: inline-block;
    /*
    background-color: #ebf5fe;
    border: 2px solid #aaaaaa;
    box-shadow: 3px 3px 6px #444444;
    */
    /* border-radius: 5px; */
    margin: .5%;
    width:23%;
}
li {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    margin: 2px 15px;
    list-style-type: none;
    color: #ccd0d4;
}
a:link {
    font-size: 18px;
    text-decoration: none;
    color: #4d4d4d;
}
/* visited link */
 a:visited {
    color: #4d4d4d;
}
/* mouse over link */
 a:hover {
    /* font-weight: bold; */
    color: #000000;
}
/* selected link */
 a:active {
    color: #4d4d4d;
}
#projects {
    margin: 0 3%;
    margin-top: -50px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #f3f3ee;
    vertical-align: top;
    border-radius: 1px;
    border: 1px solid #aaaaaa;
}

#projects > p {
    font-family:"Intel Clear", "Seoge UI", "Arial", sans-serif;
    color: #9dd7f3;
    font-size: 20px;
    font-weight: 100;
    line-height: 24px;
    margin: 6px 24px;
}

.footer {
    background-color: #f3f3ee;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 60px;
    margin-top: 10px;
}
.footer > p {
    color: #666666;
    font-size: 14px;
    text-align: center;
}
.footer > li > a {
    color: #4d4d4d;
}

.left {
    float:left;
    width: 250px;
}
.right {
    float: left;
    width: auto;
}
body > div:nth-child(4) > li > a:link {
    font-size: 12px;
}


/*-------smaller screen------*/
 @media(max-width: 1270px) {
    ul {
        width:48%;
    }
    span > ul:nth-child(4) {
        width:48%;
    }
}
@media(max-width: 900px) {
    ul {
        width:98%;
    }
    span > ul:nth-child(4) {
        width:98%;
    }
}
@media(max-width: 550px) {
    ul {
        width:98%;
    }
    span > ul:nth-child(4) {
        width:98%;
    }
    body > section > img {
        display: none;
    }
    body > section > header {
        padding: 0px 6px;
}
@media(max-width: 450px) {
    ul {
        width:98%;
    }
    span > ul:nth-child(4) {
        width:98%;
    }
    body > section > img {
        display: none;
    }
    body > section > header {
        padding: 0px 6px;
    }
    h1 {
    font-size: 24px;
}
}